<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>detail | Chapter 6</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body>
  <a href="/">Home</a>
  <h1>
    user id: <%= user.id %>
      </th>
      <form>
        <div class="mb-3">
          <label for="recipient-username" class="col-form-label">Username:</label>
          <input type="text" class="form-control" id="recipient-username" name="username" value="<%= user.username %>">
        </div>
        <div class="mb-3">
          <label for="recipient-password" class="col-form-label">Password:</label>
          <input type="password" class="form-control" id="recipient-password" name="password" value="<%= user.password %>">
        </div>
        <input type="text" id="recipient-userid" name="userID" value="<%= user.id %>" style="display: none;">
        <input type="" id="edit-user" class="btn btn-primary" name="Edit" value="Edit" />
      </form>
</body>
<noscript>Javascript gaada euy</noscript>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- AXIOS -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  document.getElementById("edit-user").addEventListener('click', function (e) {
    let username = document.getElementById('recipient-username').value
    let password = document.getElementById('recipient-password').value
    let userID = document.getElementById('recipient-userid').value
    axios.patch('/api/user', {
        userID: userID,
        username: username,
        password: password
    })
        .then(function (response) {
            console.log(response);
            window.location.href = '/'
        })
        .catch(function (error) {
            console.log(error);
        });
})
</script>