#background {
  background-color: #9c835f;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#RPS-text {
  position: absolute;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: bold;
  line-height: 49px;
  color: #f9b23d;
  text-transform: uppercase;
  top: 5%;
  left: 12%;
}

#Back {
  position: absolute;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: bold;
  line-height: 49px;
  color: #f9b23d;
  text-transform: uppercase;
  top: 5%;
  left: 3%;
}

#player1 {
  position: absolute;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  top: 20%;
  left: 20%;
}

#com {
  position: absolute;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  top: 20%;
  right: 22%;
}

#vs{
  position: absolute;
  font-family: "Open Sans";
  font-size: 100px;
  color: red;
  text-transform: uppercase;
  top: 50%;
  left: 46%;
  right: 54%;
  font-weight: bolder;
}

.draw{
  position: absolute;
  top: 45%;
  left: 38%;
  height: 200px;
  width: 350px;
  border-radius: 10px;
    background: #035b0c;
    transform: rotate(-10deg);
    justify-content: center;
    font-size: 36px;
    color: white;
    text-align: center;
    line-height: 180px;
}

.not-draw{
  position: absolute;
  top: 45%;
  left: 38%;
  height: 200px;
  width: 350px;
  border-radius: 10px;
    background: #4c9654;
    transform: rotate(-10deg);
    justify-content: center;
    font-size: 36px;
    color: white;
    text-align: center;
    line-height: 180px;
}

#result{
  /* position: absolute;
  top: 45%;
  left: 38%;
  height: 200px;
  width: 350px;
  border-radius: 10px;
  background: red;
  transform: rotate(-10deg); */
  justify-content: center;
  font-size: 36px;
  color: white;
  text-align: center;
  line-height: 180px;
}

#com-result{
  color: none;
}

.selected{
  background-color: #c4c4c4;
  opacity: 50%;
}

.not-selected{
  color: none;
}

/* #ref1 {
  border-radius: 10px;
  background: red;
  transform: rotate(-28.87deg);
  -webkit-animation: spin 0.5s linear;
} */

/* #score-player {
  position: absolute;
  right: 15%;
  top: 6%;
  font-size: 25px;
  font-family: "Open Sans";
  font-weight: bold;
}

.player-score {
  position: absolute;
  right: 45%;
  top: 80%;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: bold;
}

#score-computer {
  position: absolute;
  right: 5%;
  top: 6%;
  font-size: 25px;
  font-family: "Open Sans";
  font-weight: bold;
}

.computer-score {
  position: absolute;
  right: 40%;
  top: 80%;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: bold;
} */

#thebox {
  background: #c4c4c4;
  opacity: 80%;
}

#thebox-2 {
  background: #c4c4c4;
  opacity: 80%;
}

#thebox-3 {
  background: #c4c4c4;
  opacity: 80%;
}

#thebox-4 {
  background: #c4c4c4;
  opacity: 80%;
}

#thebox-5 {
  background: #c4c4c4;
  opacity: 80%;
}

#thebox-6 {
  background: #c4c4c4;
  opacity: 80%;
}

.whitebox {
  position: absolute;
  height: 120px;
  width: 120px;
  left: 21%;
  top: 28%;
}

.whitebox-2 {
  position: absolute;
  height: 140px;
  width: 120px;
  left: 21%;
  top: 50%;
}

.whitebox-3 {
  position: absolute;
  height: 120px;
  width: 100px;
  left: 22%;
  top: 75%;
}

.whitebox-4 {
  position: absolute;
  height: 120px;
  width: 120px;
  right: 21%;
  top: 28%;
  background: #c4c4c4;
  opacity: 80%;
  color: #c4c4c4;
  opacity: 80%;
}

.whitebox-5 {
  position: absolute;
  height: 140px;
  width: 110px;
  right: 22%;
  top: 50%;
  background: #c4c4c4;
  opacity: 80%;
  color: #c4c4c4;
  opacity: 80%;
}

.whitebox-6 {
  position: absolute;
  height: 120px;
  width: 100px;
  right: 22%;
  top: 75%;
  background: #c4c4c4;
  opacity: 80%;
  color: #c4c4c4;
  opacity: 80%;
}

/* .result-suit {
  position: absolute;
  width: 271.11px;
  height: 166.93px;
  left: 561px;
  top: 489.89px;
  background: #4c9654;
  border-radius: 10px;
  transform: rotate(-28.87deg);
}

.result-text {
  position: absolute;
  width: 296px;
  height: 186px;
  left: 568px;
  top: 525.37px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  transform: rotate(-30.98deg);
} */

#opening{
    border-radius: 10px;
    background: red;
    transform: rotate(-28.87deg);
}

.vs-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: yellow;
}


/* .not-draw-bg {
  position: absolute;
  width: 271.11px;
  height: 166.93px;
  left: 561px;
  top: 489.89px;
  background: #4c9654;
  border-radius: 10px;
  transform: rotate(-28.87deg);
} */

result:focus {
  position: absolute;
  height: 120px;
  width: 100px;
  right: 22%;
  top: 75%;
}

/* .rotate{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
} */
