<html>
    <head>
        <title> Create </title>
    </head>
<body>
<form action="/articles" method="POST">
    <label for="email">Email</label>
    <br>
    <input type="email" name="email" placeholder="Your Email">
    <br>

    <label for="email">Password</label>
    <br>
    <input type="password" name="password" placeholder="Your Password">
    <br>

    <button type="submit">Login</button>
    </form>
    </body>
</html>