#create-new-player-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #dadce0;
    border-radius: 8px;
    padding: 24px;
}

#img-google {
    background-image: url(https://ssl.gstatic.com/accounts/signup/glif/account.svg);
    width: 244px;
    height: 244px;
}