<h1>Welcome</h1>
<h2>Please login</h2>
<form action="/api/login" method="POST">
  <label for="username">Username</label>
  <br>
  <input type="username" name="username" placeholder="Enter username">
  <br>

  <label for="password">Password</label>
  <br>
  <input type="password" name="password" placeholder="Enter Password">
  <br>

  <button type="submit">Login</button>
</form>